.container-fluid {
    padding: 0 !important;
}

.header {
    z-index: 1;
    padding: 20px 0 5px 0;
    transition: .7s;
    position: fixed;
    width: 100%;
}
.header .container {
    display: flex;
    align-items: center;
}

.header-with-offset {
    padding: 5px 0 5px 0;
    transition: .7s;
    background: whitesmoke;
    border-bottom: 1px solid black;
}

.header-with-offset .logo-label {
    color: black;
}

.header-with-offset .menu-link {
    color: black !important;
}

.block1 {
    background: url("img/background1.jpg");
    background-size: cover;
    min-height: 100vh;
    padding-top: 40vh;
}

.block2 {
    background: whitesmoke;
    min-height: 100vh;
}

.logo-label {
    display: inline;
    font-size: 2em;
    font-weight: bold;
    color: whitesmoke;
    flex: 1;
}

.inline {
    display: inline !important;
}

.header-menu {
    display: inline-block;
    margin-bottom: 0;
}
.header-menu li {
    display: inline;
    padding: 0 15px;
}
.header-menu .menu-link {
    color: whitesmoke;
}
.header-menu .menu-link:hover {
    text-decoration: none;
    color: gray;
    transition: .3s;
    border-bottom: 3px solid #6195FF;
}

.menu-link-active {
    border-bottom: 3px solid #6195FF;
}

.inner-block {
    margin: 0 !important;
}

.primary-title {
    color: white;
    font-size: 2.2em;
    font-weight: bold;
}

.block1 .additional-text {
    margin-top: 2vh;
    color: white;
}

.action-button-big {
    padding: 10px;
}

.action-button-big:hover {
    cursor: pointer;
}